version: 1.0.{build}

image: Visual Studio 2022

platform:
  - Win32

configuration:
  - Release

before_build:
  - ps: |
      $vcxprojPath = "Windows\Gopher\Gopher.vcxproj"
      $content = Get-Content $vcxprojPath -Raw
      
      # Replace v141 with v143
      $content = $content -replace '<PlatformToolset>v141</PlatformToolset>', '<PlatformToolset>v143</PlatformToolset>'
      
      # Remove specific SDK version requirement
      $content = $content -replace '<WindowsTargetPlatformVersion>10\.0\.16299\.0</WindowsTargetPlatformVersion>', ''
      
      Set-Content -Path $vcxprojPath -Value $content
      Write-Host "Updated project configuration"

build:
  project: Windows/Gopher/Gopher.vcxproj
  verbosity: minimal

after_build:
  - ps: |
      Copy-Item "Windows\Gopher\Release\Gopher360.exe" -Destination "Gopher360.exe"
      Copy-Item "Configs\config_default.ini" -Destination "config.ini"

artifacts:
  - path: Gopher360.exe
    name: Gopher360

deploy:
  provider: GitHub
  auth_token:
    secure: YOUR_GITHUB_TOKEN_HERE
  artifact: Gopher360
  draft: false
  prerelease: false
  on:
    branch: main
    appveyor_repo_tag: true
